@media screen and (max-width: 1200px) {
  .header {
    &-menu {
      .menu {
        gap: 20px;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .header {
    &-top {
      display: none;
    }
    &-menu {
      display: none;
    }
    &-feedback {
      display: none;
    }
    &-burger {
      display: flex;
      align-items: center;
      justify-content: center;

      cursor: pointer;
    }
  }
}