@media screen and (max-width: 1200px) {
  .promo-image {
    left: 600px;
  }
}

@media screen and (max-width: 992px) {
  .promo {
    margin-bottom: 60px;
    &-container {
      min-height: 600px;
    }
    &-content {
      padding: 100px 0 210px;
    }
    &-image {
      top: auto;
      bottom: 0;
      left: 500px;

      width: 500px;
      height: 500px;
    }
  }
}

@media screen and (max-width: 768px) {
  .promo {
    &-container {
      min-height: 500px;
    }
    &-description {
      font-size: 30px;
      max-width: 445px;
      line-height: 1.1;
    }
    &-image {
      left: 400px;

      width: 450px;
      height: 450px;
    }
  }
}

@media screen and (max-width: 576px) {
  .promo {
    &-description {
      font-size: 24px;
      max-width: 355px;
      margin-bottom: 20px;
    }
    &-link {
      max-width: 230px;
      padding: 15px 24px;
    }
    &-content {
      padding: 30px 0 250px;
    }
    &-image {
      left: auto;
      right: -130px;
      bottom: -30px;

      width: 350px;
      height: 350px;
    }
  }
}