.feedback {
  margin-bottom: 120px;
  &-container {
    display: flex;
    align-items: center;
    gap: 100px;
  }
  &-title {
    color: var(--main-color);
    font-size: 70px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 40px;
  }
  &-content {
    min-width: 740px;
    max-width: 770px;
  }
  &-row {
    display: flex;
    align-items: center;
    gap: 10px;
    input {
      width: 100%;
      color: var(--second-color);
      font-size: 17px;
      font-weight: 300;
      height: 56px;
      border-radius: 10px;
      border: 1px solid rgba(121, 126, 133, 0.20);

      padding: 0 20px;

      outline: none;
    }
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    &:last-child {
      margin-bottom: 40px;
    }
  }
  &-bottom {
    display: flex;
    align-items: center;
    gap: 30px;
    span {
      color: var(--second-color);
      font-size: 15px;
      font-weight: 400;
      a {
        text-decoration-line: underline;
      }
    }
  }
  &-submit {
    width: 250px;
    height: 56px;

    color: #FFF;
    font-family: var(--font-family);
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 1.7px;
    text-transform: uppercase;
    line-height: 1;

    padding: 13px;

    background: var(--accent-color);
    border-radius: 10px;

    border: none;
    outline: none;

    cursor: pointer;
    transition: all .3s ease;
    &:hover {
      opacity: 0.7;
    }
  }

  &-image {
    min-width: 340px;
  }
}